.menuItem{
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent .dropdownItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdownContent {
    display: block;
}

@media only screen and (max-width: 500px) {

    .menuItem {
        display: none;
    }

    .menuItemMobile{
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
        display: block;
        border-bottom: 1px solid black;
    }
}





