.subMenuItem{
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

.subDropdown {
    position: relative;
    display: inline-block;
}

.subDropdownContent {
    display: none;
    position: absolute;
    margin-left: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.subDropdownContent .subDropdownItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.subDropdown:hover .subDropdownContent {
    display: block;
}

